.container {
  background-color: red;
  padding: 10px;
  height: 600px;
  background-color: wheat;
  overflow-y: scroll;
  margin-top: 20px;
}
.task-list {
  margin-bottom: 10px;
  background-color: tan;
  padding: 10px;
  position: relative;
}
.delete-btn {
  background-color: wheat;
  color: red;
  font-weight: bold;
  padding: 3px;
  position: absolute;
  top: 3px;
  right: 3px;
}
